altair==4.1.0
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217285838/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1610222858736/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1628022386512/work
blinker==1.4
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1628288221064/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1628283166261/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1625835469330/work
chardet @ file:///D:/bld/chardet_1610093614045/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
comtypes==1.1.10
cryptography @ file:///D:/bld/cryptography_1616851634866/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docopt==0.6.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1616781027402/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1623994295351/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1627749054029/work
ipykernel @ file:///D:/bld/ipykernel_1620913140366/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1609697945785/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
jedi @ file:///D:/bld/jedi_1605054785407/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125482653/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
MarkupSafe @ file:///D:/bld/markupsafe_1621455827344/work
mistune @ file:///D:/bld/mistune_1624941451963/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///D:/bld/nbconvert_1605402006314/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
notebook @ file:///D:/bld/notebook_1616419531260/work
numpy @ file:///D:/bld/numpy_1626682185159/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///D:/bld/pandas_1607423921518/work
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1625677997807/work
pipreqs==0.4.10
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1623977816122/work
protobuf==3.16.0
pyarrow==5.0.0
PyAudio==0.2.11
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1603714958102/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pypiwin32==223
pyrsistent @ file:///D:/bld/pyrsistent_1610146967272/work
PySocks @ file:///D:/bld/pysocks_1610291695773/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pyttsx3==2.90
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==301
pywinpty @ file:///D:/bld/pywinpty_1618862839650/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1628233078981/work
qrcode @ file:///home/conda/feedstock_root/build_artifacts/qrcode_1626786271657/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1626384238958/work
scipy==1.1.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
SpeechRecognition @ file:///D:/bld/speechrecognition_1610385391981/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1628264213264/work
streamlit-heroku==0.0.2
terminado @ file:///D:/bld/terminado_1620873117550/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1610094881553/work
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1608296160673/work
watchdog @ file:///D:/bld/watchdog_1624720442076/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475748812/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147511403/work
wincertstore==0.2
yarg==0.1.9
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
